/*Media Query for XS screen*/
@media (max-width: 767px) {
    body{
        overflow: auto;
    }

    /* Landing */
    .landing .inner-landing h2 {
        font-size: 60px;
    }

    .landing .inner-landing h4 {
        font-size: 38px;
        margin-bottom: 10px;
    }

    .landing .inner-landing button {
        width: 48%;
    }

    /* Works*/
    .works .container {
        grid-template-columns: 1fr;
    }
    .works .web-link{
        background-color: #e6e6e6;
    }
    .works .web-link input{
        width: 60%;
    }
    .works .container .all{
        grid-column: span 1;
    }
    .works .container .all .info{
        padding: 30px;
        overflow: auto;
    }
    /* Reviews */
    .reviews .review-content{
        grid-template-columns: 1fr;
    }

    footer .row div {
        margin: 20px 0;
    }
}


/*Media Query for S screen*/
@media (min-width: 768px) and (max-width: 991px) {
    .works .container .all{
        grid-column: span 1;
    }
    .slider-svg-2 {
        margin-top: -10px;
    }

    footer .row div {
        margin: 10px 0;
    }

    .svg-footer {
        margin-bottom: -10px;
    }
}

/*Media Query for Med screen*/
@media (min-width: 992px) and (max-width: 1199px) {
    .slider-svg-2 {
        margin-top: -10px;
    }

    .svg-footer {
        margin-bottom: -10px;
    }
}